<!DOCTYPE html>
<html class=no-js>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=viewport content="width=device-width,initial-scale=1,minimum-scale=1">
    <meta name=keywords itemprop=keywords content="cinema, movies, curation, indie, vod, svod, vision, motion, watch, stream">
    <meta name=description itemprop=description content="NoWave explore des thèmes contemporains à travers le regard de réalisateurs du monde entier.">
    <link rel=canonical itemprop=url href=/reset/>
    <link rel=alternate type=application/rss+xml title=RSS href=/feed.xml>
    <title>NOWAVE, Visions in motion</title>
    <link href=//www.google-analytics.com rel=dns-prefetch>
    <link href=//cdn.mxpnl.com rel=dns-prefetch>
    <link href=//js.stripe.com rel=dns-prefetch>
    <link href=//cdn.vhx.tv rel=dns-prefetch>
    <link rel=apple-touch-icon sizes=57x57 href=/icons/apple-touch-icon-57x57.png>
    <link rel=apple-touch-icon sizes=60x60 href=/icons/apple-touch-icon-60x60.png>
    <link rel=apple-touch-icon sizes=72x72 href=/icons/apple-touch-icon-72x72.png>
    <link rel=apple-touch-icon sizes=76x76 href=/icons/apple-touch-icon-76x76.png>
    <link rel=apple-touch-icon sizes=114x114 href=/icons/apple-touch-icon-114x114.png>
    <link rel=apple-touch-icon sizes=120x120 href=/icons/apple-touch-icon-120x120.png>
    <link rel=apple-touch-icon sizes=144x144 href=/icons/apple-touch-icon-144x144.png>
    <link rel=apple-touch-icon sizes=152x152 href=/icons/apple-touch-icon-152x152.png>
    <link rel=apple-touch-icon sizes=180x180 href=/icons/apple-touch-icon-180x180.png>
    <link rel=icon type=image/png href=/icons/favicon-32x32.png sizes=32x32>
    <link rel=icon type=image/png href=/icons/android-chrome-192x192.png sizes=192x192>
    <link rel=icon type=image/png href=/icons/favicon-96x96.png sizes=96x96>
    <link rel=icon type=image/png href=/icons/favicon-16x16.png sizes=16x16>
    <link rel=manifest href=/icons/manifest.json>
    <link rel="shortcut icon" href=/icons/favicon.ico>
    <meta name=apple-mobile-web-app-title content=NoWave>
    <meta name=application-name content=NoWave>
    <meta name=msapplication-TileColor content=#da532c>
    <meta name=msapplication-TileImage content=/icons/mstile-144x144.png>
    <meta name=msapplication-config content=/icons/browserconfig.xml>
    <meta name=theme-color content=#ffffff>
    <link rel=stylesheet type=text/css href=/css/main.css>
    <link href=//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css rel=stylesheet>
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body class=home>
    <div ng-controller=ResetCtrl><video muted loop autoplay><source poster=/videos/bg_poster.jpg src=/videos/bg.mp4 type=video/mp4></video>
        <main ng-controller=LoginCtrl>
            <section class=jumbotron>
                <nav>
                    <ul>
                        <li ng-show=!isLogged><a data=login ng-click=open($event)>se connecter</a></li>
                        <li ng-show=isLogged><a ng-click=logout()>se déconnecter</a></li>
                    </ul>
                </nav>
                <div class=logo-desktop><img src=img/logo_nowave.svg alt=""></div>
                <div class=logo-smartphone><img src=img/head_logo.svg alt=""></div>
                <div class=content>
                    <p><strong>UNE SELECTION DE FILMS QUE VOUS NE VERREZ PAS AILLEURS</strong></p>
                    <p class=pricing_plan>POUR <span class=price>7,99€</span> PAR MOIS</p>
                </div><button type=button data=signup class=btn ng-click=open($event)>PROFITEZ D'UN MOIS GRATUIT</button></section>
            <header class="main-header navbar" ng-controller=LoginCtrl>
                <figure><a href=/><img src=/img/logo_nowave.svg alt="NoWave logo"></a>
                </figure>
                <ul ng-cloak>
                    <li ng-show=statistics>
                        <form action=%%action%%><input type=submit class=signup value=STATISTIQUES></form>
                    </li>
                    <li class=theme-select-item><select class=theme-select ng-model=selected_theme ng-change=go_to_theme()><option value="" disabled>NUMÉROS</option><option value=revolution>Révolution</option><option value=climat>Climat</option><option value=cat_iii>CAT-III</option><option value=love_hurts>Love Hurts</option><option value=freaks>Freaks</option><option value=shakespeare_lives>Shakespeare Lives</option><option value=pinku>Pinku Eiga</option><option value=zombos>Zombos</option><option value=festival_europeen_lille>FC EUROPÉEN DE LILLE</option><option value=festival_cine_latino>CineLatino</option><option value=mamoru>Mamoru Oshii</option><option value=valhalla>Valhalla</option><option value=bela_lugosi>Bela Lugosi</option><option value=misfits>Misfits</option><option value=mauvais_genre>Mauvais genre</option><option value=annecy>Festival du film d'animation d'Annecy</option><option value=nanar_1>Nanar 1</option><option value=12_sports>sports</option></select></li>
                    <li ng-show=!isLogged><a data=signup ng-click=open($event)>commencer votre mois gratuit</a></li>
                    <li ng-show=!isLogged><a data=login ng-click=open($event)>se connecter</a></li>
                    <li ng-show=isLogged><a ng-click=logout()>se déconnecter</a></li>
                </ul>
            </header>
            <a du-smooth-scroll=active-theme offset=60 duration=500 class=arrow-down></a>
            <section id=active-theme>
                <style>
                    .movies {
                        background-image: url(/img/themes/12sports/bg_top.jpg);
                        background-repeat: no-repeat;
                        background-size: cover
                    }
                </style>
                <div class=movies>
                    <aside>
                        <p><span class=issue>18</span></p>
                        <p><span class=theme-name>SPORTS</span></p>
                    </aside>
                    <p class=intro></p>
                    <div class=movies-selection>
                        <a href=/movies/Koza class=card-movie style=background-image:url(img/movies/Koza/poster_small.jpg);background-size:cover;background-repeat:no-repeat>
                            <div class=overlay>
                                <div class=card-title>Koza (La chèvre)</div>
                                <div class=card-content><span>de Ivan Ostrochovsky<br>Drame<br>2015, 75mn</span></div>
                            </div>
                        </a>
                        <a href=/movies/30_minutes_par_jour class=card-movie style=background-image:url(img/movies/30_Minutes_par_jour_film_2/poster_small.jpg);background-size:cover;background-repeat:no-repeat>
                            <div class=overlay>
                                <div class=card-title>30 minutes par jour</div>
                                <div class=card-content><span>de Samuel Lampaert<br>Court-métrage<br>2013, 5mn</span></div>
                            </div>
                        </a>
                        <a href=/movies/No_Ball_Games class=card-movie style=background-image:url(img/movies/No_Ball_Game_film_3/poster_small.jpg);background-size:cover;background-repeat:no-repeat>
                            <div class=overlay>
                                <div class=card-title>No Ball Games</div>
                                <div class=card-content><span>de Richard Pengelley<br>Court-métrage<br>2012, 6mn</span></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class=synopsis>
                    <figure><img src=img/themes/mamoru/portrait.jpg>
                        <figcaption>Visions curated by Nowave</figcaption>
                    </figure><img class=eye src=/img/eye.svg>
                    <article>Pour ce nouveau numéro de rentrée, nous allons faire un tour en Slovaquie, en Australie et en Grande Bretagne pour vous présenter trois fictions décalées sur le thème du sport. Trois films très différents qui vous feront passer du
                        rire au larmes.<br><br>UN GRAND MERCI A TOUS CEUX QUI NOUS ONT SOUTENU SUR KISSKISSBANKBANK. GRACE A EUX, NOWAVE CHANGE : à partir de fin septembre notre tarif d’abonnement passe à 5,99€, et vous pourrez accéder aux sélection de
                        films sur NOWAVE encore plus facilement. Nous proposerons toujours une sélection par thémas, mais ajoutons un tri par genre et par moteur de recherche.</article><button type=button data=signup class=btn ng-click=open($event)>PROFITEZ D'UN MOIS GRATUIT</button></div>
            </section>
            <section class=themes-list>
                <p class=title-list>NUMÉROS PRÉCÉDENTS</p>
                <a href=/themes/nanar_1 class=card-theme style="background-image:url(img/themes/nanar1/bg_top.jpg);background-size:cover;background-repeat:no-repeat;background-position:0 30%">
                    <div class=content><span class=issue>17</span>
                        <p class=theme-name>Nanar 1</p>
                        <p class=theme-author><strong>Visions curated by </strong>- Nowave</p>
                    </div>
                </a>
                <a href=/themes/annecy class=card-theme style="background-image:url(img/themes/annecy/bg_top.jpg);background-size:cover;background-repeat:no-repeat;background-position:0 30%">
                    <div class=content><span class=issue>16</span>
                        <p class=theme-name>Festival du film d'animation d'Annecy</p>
                        <p class=theme-author><strong>Visions curated by </strong>- Nowave</p>
                    </div>
                </a>
                <a href=/themes/mauvais_genre class=card-theme style="background-image:url(img/themes/mauvais_genre/bg_top.jpg);background-size:cover;background-repeat:no-repeat;background-position:0 30%">
                    <div class=content><span class=issue>15</span>
                        <p class=theme-name>Mauvais genre</p>
                        <p class=theme-author><strong>Visions curated by </strong>- Nowave</p>
                    </div>
                </a>
                <a href=/themes/misfits class=card-theme style="background-image:url(img/themes/Misfits/bg_top.jpg);background-size:cover;background-repeat:no-repeat;background-position:0 30%">
                    <div class=content><span class=issue>14</span>
                        <p class=theme-name>Misfits</p>
                        <p class=theme-author><strong>Visions curated by </strong>- Nowave</p>
                    </div>
                </a>
                <a href=/themes/bela_lugosi class=card-theme style="background-image:url(img/themes/bela_lugosi/bg_top.jpg);background-size:cover;background-repeat:no-repeat;background-position:0 30%">
                    <div class=content><span class=issue>13</span>
                        <p class=theme-name>Bela Lugosi</p>
                        <p class=theme-author><strong>Visions curated by </strong>- Nowave</p>
                    </div>
                </a>
                <a href=/themes/valhalla class=card-theme style="background-image:url(img/themes/valhalla/bg_top.jpg);background-size:cover;background-repeat:no-repeat;background-position:0 30%">
                    <div class=content><span class=issue>12</span>
                        <p class=theme-name>Valhalla</p>
                        <p class=theme-author><strong>Visions curated by </strong>- Nowave</p>
                    </div>
                </a>
                <a href=/themes/mamoru class=card-theme style="background-image:url(img/themes/mamoru/bg_top.jpg);background-size:cover;background-repeat:no-repeat;background-position:0 30%">
                    <div class=content><span class=issue>11</span>
                        <p class=theme-name>Mamoru Oshii</p>
                        <p class=theme-author><strong>Visions curated by </strong>- Nowave</p>
                    </div>
                </a>
                <a href=/themes/festival_cine_latino class=card-theme style="background-image:url(img/themes/festival_cine_latino/bg_top.jpg);background-size:cover;background-repeat:no-repeat;background-position:0 30%">
                    <div class=content><span class=issue>10</span>
                        <p class=theme-name>CineLatino</p>
                        <p class=theme-author><strong>Visions curated by </strong>- Equipe du festival CineLatino</p>
                    </div>
                </a>
                <a href=/themes/festival_europeen_lille class=card-theme style="background-image:url(img/themes/festival_europeen_lille/bg_top.png);background-size:cover;background-repeat:no-repeat;background-position:0 30%">
                    <div class=content><span class=issue>9</span>
                        <p class=theme-name>FC EUROPÉEN DE LILLE</p>
                        <p class=theme-author><strong>Visions curated by </strong>- Equipe du festival du Cinema Europeen</p>
                    </div>
                </a>
                <a href=/themes/zombos class=card-theme style="background-image:url(img/themes/zombos/bg_top.png);background-size:cover;background-repeat:no-repeat;background-position:0 30%">
                    <div class=content><span class=issue>8</span>
                        <p class=theme-name>Zombos</p>
                        <p class=theme-author><strong>Visions curated by </strong>- Poes</p>
                    </div>
                </a>
                <a href=/themes/pinku class=card-theme style="background-image:url(img/themes/pinku/bg_top.jpg);background-size:cover;background-repeat:no-repeat;background-position:0 30%">
                    <div class=content><span class=issue>7</span>
                        <p class=theme-name>Pinku Eiga</p>
                        <p class=theme-author><strong>Visions curated by </strong>- Adrien Gombeaud</p>
                    </div>
                </a>
                <a href=/themes/shakespeare_lives class=card-theme style="background-image:url(img/themes/shakespeare_live/bg_top.jpg);background-size:cover;background-repeat:no-repeat;background-position:0 30%">
                    <div class=content><span class=issue>6</span>
                        <p class=theme-name>Shakespeare Lives</p>
                        <p class=theme-author><strong>Visions curated by </strong>- British Council</p>
                    </div>
                </a>
                <a href=/themes/freaks class=card-theme style="background-image:url(img/themes/freaks/top-background-image-freaks.jpg);background-size:cover;background-repeat:no-repeat;background-position:0 30%">
                    <div class=content><span class=issue>5</span>
                        <p class=theme-name>Freaks</p>
                        <p class=theme-author><strong>Visions curated by </strong>-</p>
                    </div>
                </a>
                <a href=/themes/love_hurts class=card-theme style="background-image:url(img/themes/love_hurts/bg_top.jpg);background-size:cover;background-repeat:no-repeat;background-position:0 30%">
                    <div class=content><span class=issue>3</span>
                        <p class=theme-name>Love Hurts</p>
                        <p class=theme-author><strong>Visions curated by </strong>- Laurence Biermé</p>
                    </div>
                </a>
                <a href=/themes/cat_iii class=card-theme style="background-image:url(img/themes/cat_III/bg_top.jpg);background-size:cover;background-repeat:no-repeat;background-position:0 30%">
                    <div class=content><span class=issue>2</span>
                        <p class=theme-name>CAT-III</p>
                        <p class=theme-author><strong>Visions curated by </strong>- Thomas Delmuerte</p>
                    </div>
                </a>
                <a href=/themes/climat class=card-theme style="background-image:url(img/themes/histoires_d_eaux/bg_top.jpg);background-size:cover;background-repeat:no-repeat;background-position:0 30%">
                    <div class=content><span class=issue>1</span>
                        <p class=theme-name>Climat</p>
                        <p class=theme-author><strong>Visions curated by </strong>- Bérengère Dastarac-Waked</p>
                    </div>
                </a>
                <a href=/themes/revolution class=card-theme style="background-image:url(img/themes/Revolution/bg_top.jpg);background-size:cover;background-repeat:no-repeat;background-position:0 30%">
                    <div class=content><span class=issue>0</span>
                        <p class=theme-name>Révolution</p>
                        <p class=theme-author><strong>Visions curated by </strong>- Bérengère Dastarac-Waked</p>
                    </div>
                </a>
            </section>
        </main>
        <footer class=footer>
            <div class=container><img src=/img/logo_nowave.svg alt="NoWave logo">
                <div class=list-logo>
                    <figure>
                        <figcaption>NoWave est soutenu par le British Concil</figcaption>
                        <a href=https://www.britishcouncil.fr target=_blank><img src=/img/british_council_logo_w.svg alt="British Council"></a>
                    </figure>
                    <figure>
                        <figcaption>NoWave aime :</figcaption>
                        <a href=http://www.revue-positif.net target=_blank><img src=/img/positif_logo.png alt=Positif></a>
                    </figure>
                    <figure>
                        <figcaption>NoWave aime : Vidéo en poche</figcaption>
                        <a href=http://www.videoenpoche.info/ target=_blank><img src=/img/video_en_poche_logo_w.svg alt="Video en poche"></a>
                    </figure>
                    <figure>
                        <figcaption>NoWave est soutenu par le Centre National de la Cinématographie</figcaption>
                        <a href=http://www.cnc.fr target=_blank><img src=/img/CNC_logo_w.svg alt=CNC></a>
                    </figure>
                </div>
            </div>
            <div class=links>
                <ul>
                    <li><a href=/documents/faq.html>FAQ</a></li>
                    <li><a href=/documents/cgu.html>CGU</a></li>
                    <li><a href=/documents/mentions.html>Mentions légales</a></li>
                    <li><a href=/documents/credits.html>Crédits</a></li>
                    <li><a href=#>Déclaration CNIL n°1954478</a></li>
                    <li><a href=mailto:hello@nowave.io>Contact</a></li>
                    <li><a href=https://twitter.com/nowavemovies target=_blank><i class="fa fa-twitter-square fa-2x"></i></a></li>
                    <li><a href=https://www.facebook.com/Nowave-Cinema-791674174244094 target=_blank><i class="fa fa-facebook-square fa-2x"></i></a></li>
                </ul>
            </div>
        </footer>
    </div>
    <script type=text/javascript src=https://js.stripe.com/v2/></script>
    <script>
        ! function(e, a, t, n, c, o, s) {
            e.GoogleAnalyticsObject = c, e[c] = e[c] || function() {
                (e[c].q = e[c].q || []).push(arguments)
            }, e[c].l = 1 * new Date, o = a.createElement(t), s = a.getElementsByTagName(t)[0], o.async = 1, o.src = n, s.parentNode.insertBefore(o, s)
        }(window, document, "script", "//www.google-analytics.com/analytics.js", "ga"), ga("create", "UA-74494423-1", "auto"), ga("send", "pageview")
    </script>
    <script type=text/javascript>
        ! function(e, t) {
            if (!t.__SV) {
                var n, i, p, l;
                window.mixpanel = t, t._i = [], t.init = function(e, n, i) {
                    function o(e, t) {
                        var n = t.split(".");
                        2 == n.length && (e = e[n[0]], t = n[1]), e[t] = function() {
                            e.push([t].concat(Array.prototype.slice.call(arguments, 0)))
                        }
                    }
                    var a = t;
                    for ("undefined" != typeof i ? a = t[i] = [] : i = "mixpanel", a.people = a.people || [], a.toString = function(e) {
                            var t = "mixpanel";
                            return "mixpanel" !== i && (t += "." + i), e || (t += " (stub)"), t
                        }, a.people.toString = function() {
                            return a.toString(1) + ".people (stub)"
                        }, p = "disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" "), l = 0; l < p.length; l++) o(a, p[l]);
                    t._i.push([e, n, i])
                }, t.__SV = 1.2, n = e.createElement("script"), n.type = "text/javascript", n.async = !0, n.src = "undefined" != typeof MIXPANEL_CUSTOM_LIB_URL ? MIXPANEL_CUSTOM_LIB_URL : "file:" === e.location.protocol && "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js", i = e.getElementsByTagName("script")[0], i.parentNode.insertBefore(n, i)
            }
        }(document, window.mixpanel || [])
    </script>
    <script src=/js/scripts.js></script>
    <script src=/js/vhx-player.js></script>
</body>

</html>